body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 95%;
    margin: auto;
    padding: 20px;
}

header {
    background-color: #1f2937;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

header h1 {
    margin: 0;
}

.usuario-box {
    margin-top: 15px;
}

.usuario-box select {
    padding: 8px;
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    background-color: #2563eb;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

nav button:hover {
    background-color: #1d4ed8;
}

.seccion {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.oculto {
    display: none;
}

.formulario {
    margin-top: 20px;
    margin-bottom: 20px;
}

.formulario input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
}

.formulario button {
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th {
    background-color: #1f2937;
    color: white;
    padding: 10px;
}

table td {
    border: 1px solid #ccc;
    padding: 10px;
}

table button {
    padding: 5px 10px;
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}